.equal-width-buttons .btn {
  width: 33%;
  padding: 0;
  min-width: fit-content;
}

.form-check {
  .form-check-input {
    cursor: pointer;
    &:checked {
      background-color: #1aba6b;
      border-color: transparent;
      outline: none;
      border: none;
    }

    &:focus {
      box-shadow: none;
    }

    &:checked + .form-check-label {
      color: #272a37;
    }
  }
  .form-check-label {
    color: #6f7383;
    cursor: pointer;
  }
}

.dropdown {
  button {
    font-weight: 400;
    padding: 12px 8px 12px 12px;
  }
  .dropdown-item {
    &:active {
      background-color: rgba(0, 0, 0, 0);
    }
  }
}

.custom-switch {
  position: relative;
  height: 24px !important;

  .form-check-input {
    position: relative;
    margin-top: 0;
    height: 24px !important;
    width: 46px !important;

    background-image: url('data:image/svg+xml,<svg id="ejlNWy01BZv1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 24 24" shape-rendering="geometricPrecision" text-rendering="geometricPrecision"><path d="M0,12C0,5.37258,5.37258,0,12,0s12,5.37258,12,12-5.37258,12-12,12-12-5.37258-12-12Z" fill="%23272a37" stroke-width="0"/></svg>');

    &:checked {
      background-color: transparent;
      border: 1px solid $secondary;
      & + .form-check-label {
        div {
          span:first-child {
            color: $secondary;
          }
          span:last-child {
            color: #fff;
          }
        }
      }
    }

    &:focus {
      box-shadow: none;
    }
  }

  .form-check-label {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: space-between;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    height: 24px;
    width: 46px;
    div {
      display: flex;
      align-items: center;
      justify-content: space-between;
      flex-direction: row;
      width: 100%;
      height: 100%;
      padding: 0 6px;
      span:first-child {
        color: #fff;
      }
      span:last-child {
        color: $secondary;
      }
    }
  }
}

.opacity-05 {
  opacity: 0.5;
}

// WIDTHS and HEIGHTS

.mw-400 {
  max-width: 400px;
}

.w-140px {
  width: 140px;
}

.w-164px {
  width: 164px;
}

.w-250px {
  width: 250px;
}

.h-28px {
  height: 28px;
}

// PADDINGS
.px-8px {
  padding-left: 8px;
  padding-right: 8px;
}
.px-24px {
  padding-left: 24px;
  padding-right: 24px;
}

.pt-22px {
  padding-top: 22px;
}

// MARGINS
.mt-32px {
  margin-top: 32px;
}

.mb-20px {
  margin-bottom: 20px;
}

// GAPS
.gap-10px {
  gap: 10px;
}

.gap-12px {
  gap: 12px;
}

.gap-20px {
  gap: 20px;
}

// SHADOWS
.shadow-1 {
  box-shadow: 0px 2px 16px 0px rgba(39, 42, 55, 0.13);
}

.shadow-2 {
  box-shadow: 0px 4px 16px 0px rgba(164, 174, 193, 0.1);
}

// BORDERS
.border-radius-6 {
  border-radius: 6px;
}

// FONTS & TEXTS

.fw-400 {
  font-weight: 400;
}

.fw-500 {
  font-weight: 500;
}

.fw-600 {
  font-weight: 600;
}

.fw-700 {
  font-weight: 700;
}

.font-size-11 {
  font-size: 11px;
}

.font-size-12 {
  font-size: 12px;
}

.font-size-13 {
  font-size: 13px;
}

.font-size-20 {
  font-size: 20px;
}

.text-gray-850 {
  color: $gray-850;
}

.hover-text-gray-800 {
  &:hover {
    color: $gray-800;
  }
}

.whitespace-nowrap {
  white-space: nowrap;
}

.text-overflow-ellipsis {
  text-overflow: ellipsis;
}

.text-left {
  text-align: left;
}

// OTHER
.cursor-pointer {
  cursor: pointer;
}
